* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  color: #4B5157;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #D9DADB;
  height: 50px;
}

.header__sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__icon {
  margin-right: 15px;
}

.head__text {
  display: flex;
  align-items: center;
  border-right: 1px solid #D9DADB;
  height: 50px;
  padding-right: 25px;
  font-weight: bold;
}

.head__search {
  margin-right: 5px;
}

.head__input {
  border: none;
  width: 600px;
  color: #939699;
}

.header__subscribe {
  display: flex;
  align-items: center;
}

.head__img {
  margin-top: 9px;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}

.header__subscribe-text {
  padding-left: 10px;
}

.head__text {
  height: 0;
  padding-bottom: 5px;
}

.head__subtext {
  color: #939699;
}

.header__sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;
}

.header__date {
  display: flex;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 84px;
}

.title__img {
  margin-right: 15px;
}

.title__text {
  margin-right: 130px;
}

.title__logo {
  margin-right: 186px;
}

.title__date {
  margin-right: 50px;
}

.title__icon {
  margin-right: 11px;
}

.header__nav {
  background-color: #262D33;
  padding-bottom: 30px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 55px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__list .nav__list-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.news {
  display: flex;
  background-color: #262D33;
  margin: -2px;
  height: 475px;
}

.line {
  width: 1100px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: #30363D;
  border-radius: 10px;
  height: 130px;
}

.news__topic {
  display: flex;
  align-items: center;
  height: 75px;
  padding-right: 25px;
  padding-left: 25px;
  border-right: 1px solid #4B5157;
}

.news__topic:last-child {
  border: none;
}

.news__topic__title {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  line-height: 25px;
  padding-right: 10px;
}

.top {
  margin: -285px;
}

.top__container {
  display: flex;
}

.back {
  background-image: url(../img/mountain.png);
  width: 877px;
  height: 570px;
  border-radius: 10px 0 0 10px;
}

.topics {
  border-radius: 0 10px 10px 0;
}

.topics__title {
  height: 59px;
  background-color: #ffffff;
  border-radius: 0 10px 0 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
  padding-left: 25px;
}

.column {
  background-color: #ffffff;
  height: 99px;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  width: 263px;
}

.column:last-child {
  height: 115px;
  border-radius: 0 0 10px 0;
}

.column__title {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #3bbdc4;
  padding-top: 17px;
  padding-left: 25px;
  width: 263px;
  letter-spacing: 0.5px;
}

.column > p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4B5157;
  padding-top: 8px;
  padding-left: 25px;
  padding-right: 25px;
}

.cars {
  color: #6E99AE;
}

.movies {
  color: #AC8EE3;
}

.nfl {
  color: #FFA34D;
}

.tech {
  color: #3DC47E;
}