* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  color: #4B5157;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #D9DADB;
  height: 50px;
}

.head__icon {
  margin-right: 15px;
}

.head__text {
  display: flex;
  align-items: center;
  border-right: 1px solid #D9DADB;
  height: 50px;
  padding-right: 25px;
  font-weight: bold;
}

.sub {
  height: 0;
}

.head__input {
  border: none;
  margin-right: 500px;
  color: #939699;
}

.head__img {
  margin-top: 9px;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}

.head__subscribe {
  margin-top: 11px;
}

.head__subtext {
  color: #939699;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 84px;
}

/* .title__img{
    margin-right: 15px;
}

.title__text{
    margin-right: 130px;
}

.title__logo{
    margin-right: 186px;
}

.title__date{
    margin-right: 50px;
}

.title__icon{
    margin-right: 11px;
} 

.title__temperature{

}
 */
.nav {
  background-color: #262D33;
  height: 55px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding-top: 17px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__list .nav__list-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.news {
  display: flex;
  height: 130px;
  background-color: #262D33;
}

.news__topic {
  display: flex;
  align-items: center;
}

.news__topic__title {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-right: 15px;
  padding-left: 25px;
}

/* .news__topic__title:first-child{
    padding-left: 0;
}

.news__topic__title:last-child{
    margin-right: 0;

} */
.news__topic__img {
  border-right: 1px solid #4B5157;
  padding-right: 25px;
}

/* .news__topic__img:last-child{
    border: none;
} */