$color: #ffffff;
$titleColor: #262D33;
$textColor: #4B5157;
$subtextColor: #939699;
$backColor: #30363D;
$border: 1px solid #D9DADB;
$paddingTop: 30px;
$paddingBottom: 30px;
$paddingRight: 30px;
$paddingLeft: 30px;
$mainFontSize: 14px;
$tilteFontFamily: 'Roboto Slab', serif;
$mainFontFamily: 'Lato', sans-serif;
$mainFontWeight: 400;
$fontWeight: bold;
$borderRadius: 10px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: $mainFontSize;
    color: $textColor;
    font-weight: $mainFontWeight;
    font-family: $mainFontFamily;
}

.header{
    width: 100%;
}

.wrapper{
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background-color: $color;
    border-bottom: $border;
    height: 50px;
}

.head__icon{
    margin-right: 15px;
}

.head__text{
    display: flex;
    align-items: center;
    border-right: $border;
    height: 50px;
    padding-right: 25px;
    font-weight: $fontWeight;
}

.sub{
    height: 0;
}

.head__search{
    
}
.head__input{
    border: none;
    margin-right: 500px;
    color: $subtextColor;
}
.head__img{
    margin-top: 9px;
    border-top: 3px solid grey;
    border-left: 3px solid grey;
    border-right: 3px solid grey;
}

.head__subscribe{
    margin-top: 11px;
}

.head__text{

}

.head__subtext{
    color: $subtextColor;
}

.head__bio{

}

.head__sing{

}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color; 
    height: 84px;   
}

/* .title__img{
    margin-right: 15px;
}

.title__text{
    margin-right: 130px;
}

.title__logo{
    margin-right: 186px;
}

.title__date{
    margin-right: 50px;
}

.title__icon{
    margin-right: 11px;
} 

.title__temperature{

}
 */

.nav{
    background-color: $titleColor;
    padding-bottom: $paddingBottom;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 55px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    .nav__list-link{
        color: $color;
        text-decoration: none;
        font-family: $mainFontFamily;
        font-weight: $fontWeight;
    }
}


.news{
    display: flex;
    background-color: $titleColor;
    margin: -2px;
    height: 475px;
}

.line{
    display: flex;
    align-items: center;
    background-color: $backColor;
    border-radius: $borderRadius;
    height: 130px;
}

.news__topic{
    display: flex;
    align-items: center;
    height: 75px;
    padding-right: 25px;
    padding-left: 25px;
    border-right: $border;
}

.news__topic:last-child{
    border: none;
}


.news__topic__title{
    color: $color;
    font-size: 16px;
    font-family: $tilteFontFamily;
    font-weight: $fontWeight;
    line-height: 25px;
} 

.top{
    margin: -285px;
}

.top__container{
    display: flex;
}

.back{
    background-image: url(../img/mountain.png);
    width: 877px;
    height: 570px;
    border-radius: 10px 0 0 10px;
}

.topics{
    border-radius: 0 10px 10px 0;
}

.topics__title{
    height: 59px;
    background-color: $color;
    border-radius: 0 10px 0 0;
    font-size: 16px;
    font-weight: $fontWeight;
    font-family: $mainFontFamily;
}

.column{
    background-color: $color;
    height: 99px;
    border-top: $border;
    border-bottom: $border;
}

.column:last-child{
    height: 115px;
    border-radius: 0 0 10px 0;
}

.column__title{
    font-family: $mainFontFamily;
    font-size: 12px;
    color: #3bbdc4;

    p{
        font-family: $mainFontFamily;
        font-size: $mainFontSize;
        font-weight: $mainFontWeight;
        color: $textColor;
    }
}
