$color: #ffffff;
$titleColor: #262D33;
$textColor: #4B5157;
$subtextColor: #939699;
$backColor: #30363D;
$border: 1px solid #D9DADB;
$buttonColor:#4592FF;
$paddingTop: 30px;
$paddingBottom: 30px;
$paddingRight: 30px;
$paddingLeft: 30px;
$mainFontSize: 14px;
$tilteFontFamily: 'Roboto Slab', serif;
$mainFontFamily: 'Lato', sans-serif;
$mainFontWeight: 400;
$fontWeight: bold;
$borderRadius: 10px;
$borderRadiusButton: 20px;